body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #ffffff;
    width: 80%;
    height: 70%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0f7fa;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.container:hover {
    border-color: #28a745; /* Green border */
    box-shadow: 0 0 10px #28a745, 0 0 20px #28a745; /* Green glow with decreased intensity */
}
@keyframes glow {
    from {
        border-color: #e0f7fa;
        box-shadow: 0 0 10px #e0f7fa, 0 0 20px #e0f7fa, 0 0 30px #e0f7fa;
    }
    to {
        border-color: #00bcd4;
        box-shadow: 0 0 20px #00bcd4, 0 0 40px #00bcd4, 0 0 60px #00bcd4;
    }
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-description {
    margin: 20px 0;
}

.button-group {
    display: flex;
    justify-content: center; /* Center both buttons as a group */
    gap: 10px; /* Space between the buttons */
    flex-direction: row;
}

.buy-now-button, .add-to-cart-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-button {
    background-color: #28a745;
}

.buy-now-button:hover {
    background-color: #218838;
}

.add-to-cart-button {
    background-color: #ffc107; /* Yellow color */
}

.add-to-cart-button:hover {
    background-color: #e0a800;
}
